*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgba(0, 0, 0, 0.837);
}

.container{
    width: 100%;
}

.navbar-brand img{
    width: 40px;
}

.welcome{
    width: 100%;
}

.lives{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
}

.lives iframe{
    width: 100%;
    height: 100%;
}

.heading
{
    color: white;
}

.image{
    max-width: 98%;
    margin-left: 30px;
    margin-right: 30px;
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.492);
}

.header{
    display: flex;
    justify-content: space-between;
    margin: 120px auto;
}

h1{
    font-size: 60px;
    margin-bottom: 30px;
}

.about p{
    color: whitesmoke;
    font-size: 25px;
}

.footer{
    height: 200px;
    background-color: black;
}

.footer-ele{
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    height: 100%;
    list-style-type: none;
}

.footer-ele li{
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: whitesmoke;
    transition: color 0.3s ease;
}

a:hover{
    color: red;
}

.socials{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 70px auto;
    width: 60%;
}

.socials i{
    font-size: 120px;
    margin-right: 30px;
}

.fa-youtube{
    color: #FF0000;
}

.fa-instagram {
    background: -webkit-linear-gradient(#405DE6, #5B51D8, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-discord{
    color: #5562EA;
    background-clip: border-box;
    -webkit-background-clip: text;
}

.tournys{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.leagues,.scrims{
    display: flex;
    flex-direction: column;
    width: 23%;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    height: fit-content;
    margin: 80px auto;
    text-align: center;
    transition: box-shadow 0.4s ease;
}

.leagues h2, .scrims h2{
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: black;
}

.scrims h2{
    font-size: 40px;
}

.leagues img, .scrims img{
    border-radius: 10px;
}

.scrims{
    width: 55%;
}

.leagues:hover, .scrims:hover{
    box-shadow: 10px 10px 30px rgba(245, 245, 245, 0.533);
}

@media screen and (max-width: 600px){
    .image{
        width: 100%;
        height: fit-content;
        margin: 0px;
    }

    h1{
        font-size: 24px;
    }

    .about{
        margin-bottom: 20px;
    }

    .about p{
        font-size: 18px;
    }

    .header{
        flex-direction: column;
        width: 90%;
    }

    .h2{
        flex-direction: column-reverse;
    }

    .socials{
        align-self: center;
    }

    .socials i{
        font-size: 4rem;
    }

    .tournys a{
        width: 80%;
    }

    .leagues, .scrims{
        margin: 50px auto;
    }

    .scrims h2,.leagues h2{
        font-size: 20px;
        margin: 10px;
    }

}